<div class="w-11/12 lg:h-full max-w-[650px] text-text flex flex-col bg-glass gap-y-8
        py-10 md:py-16 px-6 rounded-md shadow-white/15 shadow-md">

    <div class="flex w-full h-fit items-center justify-center gap-6 row-start-1 row-span-1">
        <img src="{{ img_path }}" alt="{{ img_alt }}"
             class="h-20" />
    </div>

    <div class="w-full flex flex-col items-center justify-center gap-4">
        <h1 class="text-2xl w-5/6 text-center flex items-start h-20">{{ card_title }}</h1>

        <p class="text-lg text-center h-60">
            {{ card_text }}
        </p>

        <a href="{{ button_link }}" class="text-text flex items-center justify-center w-11/12 max-w-[220px]
                border-white/35 border-1 p-2 rounded-sm hover:border-primary/80 transition-all duration-150
                text-sm hover:bg-primary/10 cursor-pointer mb-10">
            {{ button_text }}
        </a>
    </div>

    {% if card_tags is defined %}
        <div class="hidden md:flex flex-row gap-6 row-start-4 row-span-1 w-full items-center justify-center">
            {% for tag in card_tags %}
                <p class="py-2 px-4 bg-glass text-xs text-text !rounded-sm">{{ tag }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
